{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'newwala.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Document</title>
</head>
<body>
	
	<div class="container-fluid px-1 px-sm-3 py-5 mx-auto">
		<div class="row d-flex justify-content-center">
			<div class="row card0">
				<div class="card1 col-lg-8 col-md-7">
					<h3>The Mosam</h3>
					<div class="text-center">
						<img class="image mt-5" src="https://i.imgur.com/M8VyA2h.png">
					</div>
					<div class="row px-3 mt-3 mb-3">
						<h1 class="large-font mr-3">{{data.temperature}}&#176;</h1>
						<div class="d-flex flex-column mr-3">
							<h2 class="mt-3 mb-0">{{data.city}}</h2>
							<small>Filling Like {{data.feels_like}}</small>
						</div>
						<div class="d-flex flex-column text-center">
							<h3 class="fa fa-sun-o mt-4"></h3>
							<small>{{data.weather}}</small>
						</div>
					</div>
				</div>
				<div class="card2 col-lg-4 col-md-5">
					<div class="row px-3">
						<form method="get">
							<input type="text" name="city" placeholder="Another City" class="mb-5">
							<button type="submit">Submit</button>
						</form> 
						

						
					</div>
					<div class="mr-5">
						
	
						<div class="line my-5"></div>
	
						<p>Weather Details</p>
						<div class="row px-3">
							<p class="light-text">Cloudy</p>
							<p class="ml-auto">{{data.cloud}}%</p>
						</div>
						<div class="row px-3">
							<p class="light-text">Humidity</p>
							<p class="ml-auto">{{data.humidity}}%</p>
						</div>
						<div class="row px-3">
							<p class="light-text">Wind</p>
							<p class="ml-auto">{{data.speed}}km/h</p>
						</div>
						<div class="row px-3">
							<p class="light-text">Pressure</p>
							<p class="ml-auto">{{data.pressure}}</p>
						</div>
	
						<div class="line mt-3"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>